@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
	font-family: Modern Sans;
	src: url('../font/ModernSans-Light.woff') format('woff'),
}

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.eg {
	font-family: 'Modern Sans', sans-serif;
}
